.list {
  border: 1px solid #a8a8a8;
  margin-bottom: 5px;
  padding: 5px 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list .left {
  display: flex;
  align-items: center;
}

.list .left div {
  margin-left: 20px;
}

.list .left div p:first-child {
  font-size: 17px;
}

.list .left div p:last-child {
  font-size: 14px;
  text-align: center;
  color: #a8a8a8;
}

.list .status {
  background: #65bc6f;
  color: #fff;
  padding: 5px 10px;
}

.list .red {
  background: #ff0101;
  color: #fff;
  padding: 5px 10px;
}
