.searchBtn button {
  background: #282a36;
  color: #fff;
}

.searchBtn .active {
  background: rgb(207, 105, 233);
}

.searchBtn button:hover {
  background: #343746;
}

@media screen and (max-width: 768px) {
  .searchBtn {
    text-align: center;
  }
}
